extends layout

block content
  .container
  h1= title
  P Welcome to #{title}
  p#error
  form(method="POST", action="/me/")
    p Long URL
      br
      input(type="url", name="longUrl")
    p API Token
      br
      input(type="text", name="token")    
    p
      input.btn.btn-success(type="submit") 
    script(src='/javascripts/shorten.js')
